<?php
/*
 * EasyBimehLandingLib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */

namespace EasyBimehLandingLib\Controllers;

use EasyBimehLandingLib\APIException;
use EasyBimehLandingLib\APIHelper;
use EasyBimehLandingLib\Configuration;
use EasyBimehLandingLib\Models;
use EasyBimehLandingLib\Exceptions;
use EasyBimehLandingLib\Http\HttpRequest;
use EasyBimehLandingLib\Http\HttpResponse;
use EasyBimehLandingLib\Http\HttpMethod;
use EasyBimehLandingLib\Http\HttpContext;
use EasyBimehLandingLib\Servers;
use Unirest\Request;

/**
 * @todo Add a general description for this controller.
 */
class FooterController extends BaseController
{
    /**
     * @var FooterController The reference to *Singleton* instance of this class
     */
    private static $instance;

    /**
     * Returns the *Singleton* instance of this class.
     * @return FooterController The *Singleton* instance.
     */
    public static function getInstance()
    {
        if (null === static::$instance) {
            static::$instance = new static();
        }
        
        return static::$instance;
    }

    /**
     * دریافت اطلاعات درباره ی ما
     *
     * @param string $xApiKey   TODO: type description here
     * @return mixed response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function getPortalLandingContactAbout(
        $xApiKey
    ) {

        //prepare query string for API call
        $_queryBuilder = '/InsuranceCentre/PortalLandingContactAbout/hfz1';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl(Configuration::getBaseUri() . $_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => BaseController::USER_AGENT,
            'Accept'        => 'application/json',
            'x-api-key'       => $xApiKey
        );

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::GET, $_headers, $_queryUrl);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::get($_queryUrl, $_headers);

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        $mapper = $this->getJsonMapper();

        return $mapper->mapClass($response->body, 'EasyBimehLandingLib\\Models\\BaseModelPortalLandingContactAbout');
    }

    /**
     * دریافت لیست سوالات متداول
     *
     * @param string $xApiKey   کلید اختصاصی ارتباط با سرور
     * @return mixed response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function getFaqInsuranceCentre(
        $xApiKey
    ) {

        //prepare query string for API call
        $_queryBuilder = '/Faq/InsuranceCentre/hfz1';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl(Configuration::getBaseUri() . $_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => BaseController::USER_AGENT,
            'Accept'        => 'application/json',
            'x-api-key'       => $xApiKey
        );

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::GET, $_headers, $_queryUrl);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::get($_queryUrl, $_headers);

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        $mapper = $this->getJsonMapper();

        return $mapper->mapClass($response->body, 'EasyBimehLandingLib\\Models\\BaseModelFaqInsuranceCentre');
    }

    /**
     * پیگیری وضعیت بیمه نامه
     *
     * @param integer $trackingCode شماره ی پیگیری بیمه نامه
     * @param integer $nationalCode کد ملی کاربر
     * @param string  $xApiKey      کلید اختصاصی ارتباط با سرور
     * @return mixed response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function getInsurancePolicyTracking(
        $trackingCode,
        $nationalCode,
        $xApiKey
    ) {

        //prepare query string for API call
        $_queryBuilder = '/InsurancePolicy/Tracking';

        //process optional query parameters
        APIHelper::appendUrlWithQueryParameters($_queryBuilder, array (
            'trackingCode' => $trackingCode,
            'nationalCode' => $nationalCode,
        ));

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl(Configuration::getBaseUri() . $_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => BaseController::USER_AGENT,
            'Accept'        => 'application/json',
            'x-api-key'       => $xApiKey
        );

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::GET, $_headers, $_queryUrl);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::get($_queryUrl, $_headers);

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //Error handling using HTTP status codes
        if ($response->code == 500) {
            throw new Exceptions\InternalServerErrorException('Internal Server Error', $_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        $mapper = $this->getJsonMapper();

        return $mapper->mapClass($response->body, 'EasyBimehLandingLib\\Models\\BaseModelInsurancePolicyTracking');
    }
}
